Description=webapp
After=network.target
Wants=cloud-init.target
 
 
 
[Service]
WorkingDirectory= /home/csye6225/webapp
ExecStart=/usr/bin/node /home/csye6225/webapp/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
Group=csye6225
User=csye6225
EnvironmentFile=/tmp/.env
 
 
 
[Install]
WantedBy=multi-user.target